body {
    background-color: #bf1820 ;
}

h1 {
	text-align: center;
	font-family: "Open Sans", Ubuntu, "Trebuchet MS", Tahoma, Helvetica, Geneva, sans-serif;
}

h3 {
	font-family: Helvetica, Arial;
}

p {
	font-family: Helvetica, Arial;
}
