{% extends "basiclayout.html" %}
{% block body %}
<Title> PyCon UK '15' Trans*Code - Change Name Interface</title>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('hello')}}">Transcode Deedpoll</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	    <li class="active"><a href="{{ url_for('hello')}}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('credits')}}">Credits</a></li>
	  </ul>
	 </div>
  </div>
 </nav>
<div class="container">
  <div class="jumbotron">
	<h1>Trans*Code Deedpoll</h1>
  <br>
	<h4>This free webtool aims to make it easer and less stressful to change your name. We walk you through from the Deedpoll to letters asking places to update the information they hold on file for you.</h4>
	<br>
<br>
<div class="row">
	<div class="col-sm-4">
	<h3><u>Useful Links</u></h3>
  <ul>
  <li><a href="http://uktrans.info/">UK Trans Info</a></li>
  <li><a href="http://actionfortranshealth.org.uk/">Action for Trans Health</a></li>
  <li><a href="http://trans-code.org/">Trans*Code</a></li>
  </ul>
	</div>
<div class="col-sm-4">
      <h3><u>PyCon UK 2015 and Trans*Code</u></h3>        
      <p><i><p>Made at Trans*Code Coventry, at PyConUK '15</p></i></p><br><p>#trans_tech on Freenode IRC</p>
      <br><img src="{{ url_for('static', filename='pycontranscode.png') }}" alt="trans*code at PyCon UK Logo">
    </div>
<div class="col-sm-4">
      <h3><u>The boring part</u></h3>        
      <p>The Trans*Code Change of Name interface is released under a GPL License, and is <a href="https://github.com/aimeec110/transcode_pycon15_changename">available on Github</a></p>
    </div>
  </div>
  </div>
</div>
{% endblock %}
